@import "@/styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: map-get($schema, primary);

  span{
    color: #527474;
    font-weight: 600;
  }

  span:hover{
    color: #223b3b;
    font-weight: 600;
  }

  &__error__message{
    color: red;
    margin: 0;
  }

  &__title {
    font-size: 2rem;
    font-weight: 800;
  }

  &__form {
    margin: 20px 0;
    background-color: #567e7e;
    box-shadow: #223b3b 0px 0px 8px;
    border-radius: 10px;
    padding: 30px 60px;
    &__item {
      margin: 15px 0;
      display: flex;
      gap: 50px;
      align-items: center;
      label{
        color: #b2d1d1;
        font-weight: 500;
      }
      &__input {
        padding: 10px 15px;
        width: 250px;
        border-radius: 5px;
      }
      justify-content: space-between;
    }
    button {
      width: 100%;
      margin-top: 40px;
      padding: 10px 80px;
      background-color: rgb(32, 69, 100);
      color: white;
      border-radius: 10px;
      text-align: center;
    }
    button:hover {
      background-color: rgb(24, 50, 71);
    }
  }
}
