@import "@/styles/colors.scss";

.body{
  background-color: map-get($schema, primary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span{
    color: #527474;
    font-weight: 600;
  }

  span:hover{
    color: #223b3b;
    font-weight: 600;
  }

  &__error__message{
    color: red;
    margin: 0;
  }

  &__title {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    display: flex;
    align-items: start;
    h1{
      // text-align: start;
      align-items: start;
    }
  }

  &__form {
    margin: 20px 0;
    background-color: #567e7e;
    box-shadow: #223b3b 0px 0px 8px;
    border-radius: 10px;
    padding: 30px 60px;
    &__item {
      margin: 15px 0;
      display: flex;
      gap: 50px;
      align-items: center;
      label{
        color: #b2d1d1;
        font-weight: 500;
      }
      &__input {
        padding: 10px 15px;
        width: 250px;
        border-radius: 5px;
      }
      justify-content: space-between;
      &__button, &__google {
        width: 100%;
        padding: 10px 50px;
        border-radius: 10px;
        text-align: center;
      }
      &__button {
        margin-top: 30px;
        background-color: rgb(32, 69, 100);
        color: white;
      }
      &__button:hover {
      background-color: rgb(24, 50, 71);
      }
      &__google {
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(73, 73, 73);
      }
      &__google:hover {
      background-color: rgb(218, 218, 218);
      }
    }
  }
  &__CTA {
    text-align: center;
  }
}
